// colors
$accentColor = #515CF9
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

$headerLinkHoverColor = #D1D1D1
$headerLinkHoverUnderlineColor = #888

// layout
$navbarHeight = 5.2rem
$sidebarWidth = 20rem
$contentWidth = 950px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
