// colors
$accentColor = #515CF9
$textColor = #2c3e50
$borderColor = transparent
$codeBgColor = #282c34
$arrowBgColor = #ccc
$headerColor = #111

$headerLinkHoverColor = #D1D1D1
$headerLinkHoverUnderlineColor = #888

// layout
$navbarHeight = 4rem
$sidebarWidth = 19rem
$contentWidth = 1000px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
